.claude
.vscode
CLAUDE.md
hearing/conference
hearing/ica*
hearing/*.basedata
hearing/*.mat
hearing/stimulus_plots
hearing/useless
hearing/*.png
vision/conference
vision/ica*
vision/*.basedata
vision/*.mat
touch/batch*
touch/conference
touch/ica*
touch/stimulus_plots 
EEGdenoiseNet/.claude
EEGdenoiseNet/CLAUDE.md
